#url($url)
<html>
    <head>
        <title>
            Profiles frontend
        </title>
    </head>
    <body>
        <ul>
            <li>
                <a href="$url.setPage('create.vm')">Input Profile</a>
            </li>
            <li>
                <a href="$url.setPage('profiles.vm')">List profiles ( $profileManager.profiles.size() Profiles)</a>
            </li>
        </ul>
    </body>
</html>