<?xml version="1.0" encoding="ISO-8859-1"?>

<html>
Guess the magic word: ${action.message}

<form action="demo.groovy">
  <input name="magic" type="text" value="${action.magic}"/>
  <input type="submit" value="Set new message"/>
</form>
</html>
