// For NanoContainer, Groovy, AST and others in lib/hidden
grant codeBase "file:lib${/}hidden${/}*" {
	permission java.security.AllPermission;
};

grant codeBase "file:lib${/}nanocontainer-boot-1.0-SNAPSHOT.jar" {
	permission java.security.AllPermission;
};

// For PicoContainer and others in lib/common
grant codeBase "file:lib${/}common${/}*" {
	permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.net.SocketPermission "yahoo.com:80", "connect";
};

grant codeBase "file:groovyGeneratedForNanoContainer" {
    permission java.net.SocketPermission "yahoo.com:80", "connect";
};

