<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>NanoWeb Demo</display-name>

    <context-param>
        <param-name>nanocontainer.groovy</param-name>
        <param-value><![CDATA[
            if(assemblyScope instanceof javax.servlet.ServletContext) {
                // we'll have to think of something better than this...
                com.thoughtworks.proxy.toys.nullobject.Null.object(org.picocontainer.PicoContainer)
            } else if(assemblyScope instanceof javax.servlet.http.HttpSession) {
                // Session level components
                pico = new org.picocontainer.defaults.DefaultPicoContainer(parent)
                pico.registerComponentImplementation(org.nanocontainer.sample.nanoweb.NumberToGuess)
                return pico
            } else if(assemblyScope instanceof javax.servlet.ServletRequest) {
                return new org.picocontainer.defaults.DefaultPicoContainer(parent)
            }
        ]]></param-value>
    </context-param>

    <listener>
        <listener-class>org.nanocontainer.servlet.ServletContainerListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>NanoWeb</servlet-name>
        <servlet-class>org.nanocontainer.nanoweb.NanoWebServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>NanoVelocity</servlet-name>
        <servlet-class>org.nanocontainer.nanoweb.NanoWebVelocityServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- For actions -->
    <servlet-mapping>
        <servlet-name>NanoWeb</servlet-name>
        <url-pattern>*.nano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NanoWeb</servlet-name>
        <url-pattern>*.groovy
        </url-pattern>
    </servlet-mapping>

    <!-- For views (forwarded to by NanoWeb after action execution) -->
    <servlet-mapping>
        <servlet-name>NanoVelocity</servlet-name>
        <url-pattern>*.vm</url-pattern>
    </servlet-mapping>
</web-app>


