#url($url)
<html>
    <head>
        <title>
            Information
        </title>
    </head>
    <body>
        <p>
            This is a small web application developed by J Tec Team to showcase our 
            skills. You are allowed to use it for demonstration puproses only. 
            If you like to see source code - <a href="$url.setPage('http://www.j-tec-team.de/')">ask us.</a>
        </p>
        <ul>
            <li>
                <a href="$url.setPage('about.vm')">About J Tec Team</a>
            </li>
            <li>
                <a href="$url.setPage('usage.vm')">About this application</a>
            </li>
            <li>
                <a href="$url.setPage('technology.vm')">Used technologies</a>
            </li>
        </ul>
    </body>
</html>