# build.properties template, the one where your properties goes. 
# build.properties is in the list, so it your own file only.
#
# Version: $Id$

### Artifact upload ###
maven.repo.codehaus.username=YOUR_BEAVER_LOGIN
maven.repo.codehaus.privatekey=${user.home}/YOUR_BEAVER_OPENSSH_PRIVATE_KEY
maven.repo.codehaus.passphrase=YOUR_BEAVER_OPENSSH_PRIVATE_KEY_PASSWORD (If you have).

### Maven Generated Site Deploy ###
maven.username=YOUR_BEAVER_LOGIN

# If your are using windows (using putty)
#maven.scp.executable=pscp
#maven.ssh.executable=plink