#url($url)
<html>
    <head>
        <title>
            Projects frontend
        </title>
    </head>
    <body>
        <ul>
            <li>
                <a href="$url.setPage('projects.vm')">Projects list ( $projectManager.projects.size() projects)</a> 
            </li> 
            <li>
                <a href="$url.setPage('create.vm')">Create new Project</a>
            </li>
        </ul>
    </body>
</html>