#url($url)
<html>
    <head>
        <title>
            Available profiles
        </title>
    </head>
    <body>
        <table>
            <tr>
                <td class="tblgrid">
                    <table cellpading="0" cellspacing="1">
                        <tr>
                            <td class="tblhead">
                                Nr. 
                            </td>
                            <td class="tblhead">
                                Profile
                            </td>
                            <td class="tblhead">
                                Requests
                            </td>
                            <td class="tblhead">
                                Action
                            </td>
                        </tr>
                       #foreach( $profile in $profileManager.profiles )
                            <tr class="tblbody" valign="top">
                                <td>
                                    $velocityCount
                                </td>
                                <td>
                                    <b>$profile.login</b>
                                    <p>
                                        $profile.firstName $profile.lastName
                                    </p>
                                </td>
                               <td>
                                    $profile.requests.size() Requests
                                </td>
                                <td>
                                    <ul>
                                        <li><a href="$url.setPage('showProfileProfiles.action').addParameter('profileId',$profile.id)">Show</a></li>
                                        <li><a href="$url.setPage('loadProfileEdit.action').addParameter('profileId',$profile.id)">Edit</a></li>
                                        <li><a href="$url.setPage('previewProfileRemove.action').addParameter('profileId',$profile.id)">Remove</a></li>
                                    </ul>
                                </td>
                            </tr>
                        #end
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>