#url( $url)
<html>
    <head>
        <title>
            Create Project
        </title>
    </head>
    <body>
        <form method="post" action="$url.setPage('createProject.action')">
            #parse( '/projects/project_form.vm')
        </form>
    </body>
</html>