#url($url)
<html>
    <head>
        <title>Profile of $profile.firstName $profile.lastName </title>
    </head>
    <body>
        <p>
            $profile.profile
        </p>
        <table>
            <tr>
                <td class="tblgrid">
                    <table>
                        <tr>
                            <td colspan="2" class="tblhead" align="center">
                                Projects...
                            </td>
                        </tr>
                        <tr>
                            <td class="tblhead">
                                ...available
                            </td>
                            <td class="tblhead">
                                ...requested
                            </td>
                        </tr>
                        <tr>
                            <td class="tblbody">
                                <table width="100%">
                                    #foreach( $project in $projectManager.projects )
                                        #if( ! $profile.requests.get($project ))
                                            <tr valign="top">
                                                <td>
                                                    <b>$project.name</b>
                                                    <p>
                                                        $project.shortDescription
                                                    </p>
                                                </td>
                                                <td>
                                                    <a href="$url.setPage('requestProject.action').addParameter('projectId',$project.id).addParameter('profileId',$profile.id)">--&gt;</a>
                                                </td>
                                            </tr>
                                        #end
                                   #end
                               </table>
                            </td>
                            <td class="tblbody">
                                <table>
                                    #foreach( $request in $profile.requests)
                                        <tr>
                                            <td>
                                                <a href="$url.setPage('cancelRequestProfiles.action').addParameter('profileId',$profile.id).addParameter('requestId',$request.id)">&lt;--</a>
                                            </td>
                                            <td>
                                                <b>$request.project.name</b>
                                                ( requested at $request.date ) 
                                                <p>
                                                    $request.project.shortDescription
                                                </p>
                                                
                                            </td>
                                        </tr>
                                    #end
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
        </table>
    </body>
</html>