<html>
    <head>
        <title>
            Action failed. ( designated error page ) 
        </title>
    </head>
    <body>
        Action failed because of:
        <ul>
            #foreach( $message in $errorMessages )
                <li>
                    $message
                </li>
            #end
        </ul>
    </body>
</html>