#url($url) 
<table width="100%" cellpading="0" cellspacing="0" border="0" class="menubar">
    <tr>
        <td>
            <table width="100%"  class="menubar" cellspacing="0" border="0">
                <tr>
                    <td class="menubar">
                        <a href="$url.setPage('/')">Start</a>
                    </td>
                    <td class="menubar">
                        <a href="$url.setPage('/projects/')">Projects</a>
                    </td>
                    <td class="menubar">
                        <a href="$url.setPage('/profiles/')">Profiles</a>
                    </td>
                    <td class="menubar">
                        <a href="$url.setPage('/info/')">Information</a>
                    </td>
                </tr>
            </table>
        </td>
        <td width="100%" class="menubar">&nbsp;</td>
    </tr>
</table>