<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>


    <context-param>
        <param-name>org.nanocontainer.integrationkit.ContainerComposer</param-name>
        <param-value>org.nanocontainer.nanowar.XStreamContainerComposer</param-value>
    </context-param>
    
    <filter>
        <filter-name>picoRequest</filter-name>
        <filter-class>org.nanocontainer.nanowar.ServletRequestContainerFilter</filter-class>
    </filter>
    
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    
    
    
    <filter-mapping>
        <filter-name>picoRequest</filter-name>
        <url-pattern>*.vm</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>picoRequest</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>*.vm</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
 
 
  <!-- listener providing pico container hierarchy for application -->
  <listener>
    <listener-class>org.nanocontainer.nanowar.ServletContainerListener</listener-class> 
  </listener>

    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>webwork.dispatcher.ServletDispatcher</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>velocity</servlet-name>
        <servlet-class>org.nanocontainer.nanowar.webwork.WebWorkVelocityServlet</servlet-class>
        <init-param>
          <param-name>org.apache.velocity.properties</param-name>
          <param-value>/WEB-INF/classes/velocity.properties</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>dispatch</servlet-name>
        <servlet-class>webwork.dispatcher.ClientServletDispatcher</servlet-class>
    </servlet>
    
    
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>velocity</servlet-name>
        <url-pattern>*.vm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>velocity</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.vm</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
