<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
    <context-param>
        <param-name>org.nanocontainer.integrationkit.ContainerComposer</param-name>
        <param-value>org.nanocontainer.nanowar.nanoweb.example.bookmarker.NanoWarContainerComposer</param-value>
    </context-param>
    <listener>
        <listener-class>org.nanocontainer.nanowar.ServletContainerListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>notfound</servlet-name>
        <servlet-class>org.nanocontainer.nanowar.nanoweb.NotFoundServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>notfound</servlet-name>
        <url-pattern>*.groovy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>nanoweb</servlet-name>
        <servlet-class>org.nanocontainer.nanowar.nanoweb.NanoWebServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>nanoweb</servlet-name>
        <url-pattern>*.nwa</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>velocity</servlet-name>
        <servlet-class>org.apache.velocity.tools.view.servlet.VelocityViewServlet</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
        <init-param>
            <param-name>org.apache.velocity.toolbox</param-name>
            <param-value>/WEB-INF/toolbox.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>velocity</servlet-name>
        <url-pattern>*.vm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sitemesh-velocity</servlet-name>
        <servlet-class>com.opensymphony.module.sitemesh.velocity.VelocityDecoratorServlet</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
        <init-param>
            <param-name>org.apache.velocity.toolbox</param-name>
            <param-value>/WEB-INF/toolbox.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>sitemesh-velocity</servlet-name>
        <url-pattern>*.vdec</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>nanowar</filter-name>
        <filter-class>org.nanocontainer.nanowar.ServletRequestContainerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>nanowar</filter-name>
        <servlet-name>nanoweb</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>*.nwa</url-pattern>
    </filter-mapping>
</web-app>