<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>NanoWar Struts 2 Demo</display-name>

  <filter>
    <filter-name>picoFilter</filter-name>
    <filter-class>org.nanocontainer.nanowar.PicoServletContainerFilter</filter-class>
  </filter>

  <filter>
    <filter-name>actionFilter</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>picoFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>actionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.nanocontainer.nanowar.sample.struts2.ExampleStuts2PicoServletContainerListener</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>


