body {
	margin: 0px;
	background-image: url('background.gif');
}

#container {
	width: 760px;
	padding: 0;
	background-color: white;
	margin: 10px 0 100px 0;
	margin-left: 200px;
	margin-right: auto;
	border: 0;
	empty-cells: show;
}

#container_top_left {
	background: transparent url(shadow-top-left.gif) top repeat-x;
	padding: 0;
	width: 3px;
	height: 3px;
	line-height: 3px;
}

#container_top {
	background: transparent url(shadow-top.gif) top repeat-x;
	padding: 0;
	width: 754px;
	height: 3px;
	line-height: 3px;
}

#container_top_rigth {
	background: transparent url(shadow-top-rigth.gif) top repeat-x;
	padding: 0;
	width: 3px;
	height: 3px;
	line-height: 3px;
}

#container_left {
	background: transparent url(shadow-left.gif) top repeat-y;
	padding: 0;
	width: 3px;
}

#container_rigth {
	background: transparent url(shadow-rigth.gif) top repeat-y;
	padding: 0;
	width: 3px;
}

#container_bottom_left {
	background: transparent url(shadow-bottom-left.gif) top repeat-x;
	padding: 0;
	width: 3px;
	height: 3px;
	line-height: 3px;
}

#container_bottom {
	background: transparent url(shadow-bottom.gif) top repeat-x;
	padding: 0;
	width: 754px;
	height: 3px;
	line-height: 3px;
}

#container_bottom_rigth {
	background: transparent url(shadow-bottom-rigth.gif) top repeat-x;
	padding: 0;
	width: 3px;
	height: 3px;
	line-height: 3px;
}

#header {
	background: url('header-background.gif');
	height: 57px;
	width: 100%;
}

#header img {
	float: left;	
}
#header_menu {
	display: inline;
	float: right;
	margin: 14px 10px 10px 0;
}

#content {
	padding: 10px 10px 30px 10px;
}

#content, #content * {
	font-family: Trebuchet MS;
	font-size: 8pt;
}

a {
	text-decoration: none;
}

img {
	border: 0;
}

label {
	display: block;
}

input, textarea {
	display: block;
	width: 400px;	
}

textarea {
	height: 100px;
}

input.submit {
	width: auto;
	margin: 10px 0 10px 0;
}

#content h1 {
	font-size: 16pt;
	border-bottom: 1px #A9A9A9 solid;
}

.item-thumbnail {
	float: left;
	display: block;
}

.item-data {
	margin: 0 0 10px 0;
	width: 100%;
}

.item-action {
	float: right;
	margin: 6px 0 0 8px;
}

.item-data tr td {
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}

.item-name {
	display: block;
	font-size: 14pt;
	border-bottom: 1px dotted #DCDCDC;
	color: Black;
}

.item-description {
	display: block;
	font-size: 8pt;
	color: #8A8A8A;
}

